[user]
  email = autopp.inc@gmail.com
  name = autopp

[core]
  editor = vim
  autoCRLF = false

[alias]
  st = status
  co = checkout
  amend = commit --amend --no-edit
  push-cur = !git push origin "$(git rev-parse --abbrev-ref HEAD)"
  push-fork = !git push "$(git config user.name)" "$(git rev-parse --abbrev-ref HEAD)"
  sw = switch
  res = restore
  delete-merged-branches = !git branch --merged | grep -v \"\\*\" | grep -v master | grep -v dev | xargs -n 1 git branch -d

[url "git@github.com:"]
  pushInsteadOf = https://github.com
  insteadOf = https://github.com
