[user]
  email = autopp.inc@gmail.com
  name = autopp

[core]
  editor = vim
  autoCRLF = false

[alias]
  stat = status
  st = status
  co = checkout
  amend = commit --amend --no-edit
  push-cur = !git push origin `git rev-parse --abbrev-ref HEAD`
  prs = pr list -f '%U %t%n'

[url "git@github.com:"]
  pushInsteadOf = https://github.com
  insteadOf = https://github.com
